/* Header Styling */

header {}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right {

    /* Sure To Be Icons In Center */
    display: flex;
    align-items: center;
}

header nav .nav-right a {
    color: #444;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.1em;

}

header nav .nav-left .register-login-btn {
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left i {
    margin: 7px;
    font-size: 1.1em;
}

header nav .nav-left a {
    color: #444;
    margin: 0 10px;
    font-size: 0.9em;
}



/* Slider Section Styling */

.slider {
    position: relative;

}

.slider .slides {}

.slider .slides .item {
    position: relative;
    display: none;
}

.slider .slides .item img {
    width: 100%;
}

.slider .slides .item span {
    position: absolute;
    color: rgb(156, 138, 138);
    right: 5%;
    top: 40%;
    font-size: 1.5em;
}

.slider .slides .active {
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.slider .buttons {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}

.slider .buttons i {
    color: pink;
    margin-right: 5ps;
    cursor: pointer;
}

.slider .buttons i:hover {
    color: rgba(255, 255, 255, 0.8);
}


/* Website Product Section Stylings */

.product-sec-new {
    padding: 20px 10px;
    font-size: 1em;
}

.shopping-card {
    text-align: center;
    box-shadow: 0px 8px 0px 2px rgba(0, 0, 0, 0.2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px; 
}

/* Card Image Part Styling */
.shopping-card .img-sec {
    position: relative;
}

.shopping-card .img-sec img {
    width: 60%;
}

.shopping-card .img-sec .hot-offer {
    position: absolute;
    top: 10%;
    right: 15%;
    background-color: #e74c3c;
    color: #ecf0f1;
    border-radius: 5px;
    padding: 2px 4px;
    font-size: 0.9;
}

.shopping-card .img-sec .stars {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #f1c40f;
    padding: 2px 4px;

}



.shopping-card .title {
    color: #333;
    margin: 15px;
}


/* Card Buttons Styling */

.shopping-card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.shopping-card .buttons .right {}

.shopping-card .buttons .right .price {
    color: #666;
    font-weight: bold;
}

.shopping-card .buttons .left {
    display: flex;
}

.shopping-card .buttons .left .extend-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    background-color: #2ecc71;
    width: 40px;
    border-radius: 25px;
    color: #ecf0f1;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.75s;
}

.shopping-card .buttons .left .extend-btn:hover {
    width: 130px;
}

.shopping-card .buttons .left .extend-btn:hover .b-text {
    display: block;
}

.shopping-card .buttons .left .extend-btn .b-text {
    display: none;
}

.shopping-card .buttons .left .extend-btn .b-icon {
    color: #ecf0f1;
}


/* Supper Offer Section Styling */

.supper-offer-section {
    padding: 20px;
    font-size: 1em;
}

.supper-offer-box {
    text-align: center;
    margin: 0 10px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2) ;
    border-radius: 5px;

}

.supper-offer-box .supper-offer-box-title {
    background-color: #e74c3c;
    padding: 8px 30px;
    display: inline-block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.supper-offer-box .body {

}

.supper-offer-box .body .image-container {
    text-align: center;
    padding: 30px;
}

.supper-offer-box .body .image-container img {
    width: 100%;
}

.supper-offer-box .body .specification {
    padding: 30px 8px;
}

.supper-offer-box .body .specification .price-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supper-offer-box .body .specification .price-row .price {
    margin-left: 50px;
    color: #444;
    font-size: 1.2em;
}

.supper-offer-box .body .specification .price-row .off {
    color: #ecf0f1;
    background-color: #e74c3c;
    padding: 5px 20px;
    border-radius: 25px;
}

.supper-offer-box .body .specification .title {
    margin: 40px 0px;
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
}

.supper-offer-box .body .specification .counter-down {
    margin: 10px 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1.5em;
    color: #666;

}

.supper-offer-box .body .specification .remaining-time {
    color: #777;
    font-size: 0.8em;
}

.banner {
    text-align: center;
    padding: 0px 5px;
}

.banner img {
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    width: 77%;
}



@media screen and (max-width: 1200px) {
    .banner {
        display: none;
    }
}

/*  Dragble Products Carousel Stylings   */
.dragble-list img {
    width: 70% !important;
    margin: auto;
}

/* To Fix rtl Issue In Owl Dragble Product Section */
.owl-stage-outer {
    direction:ltr;
}

.dragble-list .title {
    padding: 0px 20px;
    padding-bottom: 20px;
}

.dragble-list .title span {
    font-size: 1.2em;
    border-bottom: 2px solid #e74c3c;
}