/* Header Styling */

header {

}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}

header nav .nav-right {

    /* Sure To Be Icons In Center */
    display: flex;
    align-items: center;
}

header nav .nav-right a {
    color: #444;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.1em;

}

header nav .nav-left .register-login-btn {
    border: 1px solid #666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .nav-left i {
    margin: 7px;
    font-size: 1.1em;
}

header nav .nav-left a {
    color: #444;
    margin: 0 10px;
    font-size: 0.9em;
}